/* ================================= 
  Base Element Styles
==================================== */
body {
	background-color: #22447a;
}
img {
	height: 200px;
	width: 200px;
	margin-top: 25px;
	background-color: white;
	vertical-align: none;
}
h3 {
	font-size: 2.4em;
	font-weight: bold;
	height: 200px;
	width: 200px;
	margin-top: 25%;
	padding: 10px 10px;
}
a, h1, h2 {
	color: black;
}
.container {
	height: 100vh;
}
.row {
	display: flex;
}
/* ================================= 
  Base Layout Styles
==================================== */
.col-sm-4 h1 {
	text-decoration: underline;
	font-size: 3.2em;

}
#header{
	flex-direction: column;
}
#header > h1, h2{
	background-color: #515966;
	color: white;
	font-weight: bolder;
	font-size: 4em;
	padding-top: 10px;
	padding-bottom: 10px;
}
#stream_headers {
	justify-content: space-between;
	background-color: ;
	text-align: center;
	margin-top: 15px;
	margin-left: -50px;
	margin-right: -50px;
}
#logo_header, 
#name_header, 
#status_header{

}
#status h3,
#streamerName h3{
	height: 200px;
	width: 200px;
	align-items: center;
	margin-top: 25px;
	margin-left: 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
#streamInfo {
	background-color: ;
	color: black;
}
#logo {
	display: flex;
	flex-direction: column;
}
.streamerLogo {
	box-shadow: 10px 10px 5px black;
	border-radius: 100px;
	border: 1px solid black;
	padding: 10px 10px;
	margin-left: -40px;
	margin-right: -40px;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	

}

@media (min-width: 1025px) {

}