/* ================================= 
  Base Element Styles
==================================== */
body {
	background-color: #4286f4;
}
img {
	height: 200px;
	width: 200px;
	margin-top: 25px;
	background-color: white;
	vertical-align: none;
}
h3 {
	font-size: 2.4em;
	font-weight: bold;
	height: 200px;
	width: 200px;
	margin-top: 25%;
	padding: 10px 10px;
}
a {
	color: black;
}
.container {
	height: 100vh;
}
.row {
	display: flex;
	align-content: center;
}
/* ================================= 
  Base Layout Styles
==================================== */
.col-sm-4 h1 {
	text-decoration: underline;
	font-size: 3.2em;
}
#header {
	flex-direction: column;
}
#header > h1, h2 {
	background-color: black;
	color: white;
	font-weight: bolder;
	font-size: 4em;
	padding-top: 10px;
	padding-bottom: 10px;
}
#stream_headers {
	justify-content: space-between;
	text-align: center;
	margin-top: 15px;
	color: white;
}
#streamInfo .col-sm-4 {
	color: black;
}
#status h3,
#streamerName h3 {
	height: 200px;
	width: 200px;
	align-items: center;
	margin: 25px 20px auto 20px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
#status > h3:hover {
	color: white;
}
#logo {
	display: flex;
	flex-direction: column;
	border-right: 4px solid white;
	padding-right: 20%;
}
.streamerLogo {
	box-shadow: 10px 10px 5px black;
	border-radius: 100px;
	border: 1px solid black;
}
#streamerName {
	width: 250px;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1024px) {
	#logo_header {
		margin-left: -70px;
	}
	#name_header{
		margin-left: 30px;
		margin-right: -30px;
	}
#status > h3 {
	margin-left: 70px;
	}
	#streamerName > h3{
		margin-left: 50px;
	}
}
@media (min-width: 2559px) {

#status > h3 {
	margin-left: 180px;
	padding-left: 50px;
}
#streamerName > h3{
	margin-left: 85px;
}
}